@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700'); 

.navbar {
    text-align: right;
} 

.nav-logo {
    margin: 0;
    padding: 2px;
}

/* -----Hero Image index.html------- */  

#hero-image {
    height: 1100px; 
}

.hero-image { 
    background-image: url("../images/heroimage.png"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 900px;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;  
    padding: 5px;
} 

/* -----Section 2 images index.html------- */ 

.specimen-contain {
    margin: 0;
}

.specimen-photos {
    height: auto; 
    max-width: 100%; 
    margin: 5px;
    
}



/* -----Footer ------- */

.uppercase {
    text-align: center;
}

.copyright-footer {
    font-weight: bold;
    text-decoration: underline; 
    text-align: left;
} 

.interested-footer {
    font-weight: bold;
    text-align: left;
} 

.social-footer {
    font-weight: bold;
}