@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700'); 

body {
    padding-top: 80px;
}

.navbar {
    text-align: right;
} 

.nav-logo {
    margin: 0;
    padding: 2px;
}

/* -----Hero Image index.html------- */  

#hero-image {
    height: 90vh; 
}

.hero-image { 
    background-image: url("../images/heroimage.png"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 90vh; 
    color: white;  
    padding: 5px;
} 

/* -----Section 2 images index.html------- */ 

.specimen-contain {
    margin: 0;
}

.specimen-photos {
    height: auto; 
    max-width: 100%; 
    margin: 5px;
    
} 

/* -----Section 3 customer testimonials index.html------- */ 

.customer-testimonials-section {
    width: 100%;
    height: 650px;
    padding-top: 30px;
    margin: 2px; 
    background-color: #E7FFE7;
}

.customer-testimonials-heading { 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

} 

.customer-testimonal-heading2 {
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: 400; 
    padding: 10px;
    margin-bottom: 60px;
}

.customer-testimonial-paragraph {
    font-style: italic; 
    padding-top: 10px; 
    margin: 2px;
    
} 

.customer-testimonial-name {
    font-weight: bold; 
    padding: 2px; 
    text-align: center;
} 

.customer-testimonial-location {
    text-align: center;
    text-transform: capitalize;  
}

.customer-testimonial-image {
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50%; 
    margin: 0 auto; 
    margin-left: auto;
    margin-right: auto;
    
} 

/* -----Image in aboutus.html------- */ 

.about-us-image {
    width: 900px;
    height: 710px; 
    padding: 5px;
    margin-top: 120px;
    
} 

/* -----Text in aboutus.html------- */ 

.about-us-heading {
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold; 
    text-align: center; 
    margin-top: 45px;
} 

.about-us-paragraph {
    text-align: left;
    letter-spacing: 2px; 
    padding: 10px;
    margin: auto;
    border: 1px solid black; 
    border-radius: 15px; 
    background-color: #C7F1FF;
} 

/* -----Gallery------- */ 

.gallery-container {
    margin: 0; 
    padding: 0;
}


/*.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; 
} */

.gallery-image {
    padding: 5px;
}

/* -----order.html------- */ 

section.order { 
    margin-top: 80px;
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.order .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.order hr {
  margin: 1.5rem 0;
}

.order .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.order .card-price {
  font-size: 3rem;
  margin: 0;
}

.order .card-price .period {
  font-size: 0.8rem;
}

.order ul li {
  margin-bottom: 1rem;
}

.order .text-muted {
  opacity: 0.7;
}

.order .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .order .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .order .card:hover .btn {
    opacity: 1;
  }
}









/* -----Contact Form------- */ 

.contact-form { 
    padding-top: 40px;
    padding-left: 30px;
    margin-top: 30px;
    margin-left: 15px; 
} 

.contact-border {
    border-radius: 25px;
}

.contact-heading { 
    text-align: center;
    padding: 20px;
    margin-bottom: 15px; 
    text-transform: capitalize;
}

.btn-info {
    padding-bottom: 5px;
    margin-bottom: 2px;
} 

.contact-location {
    padding-left: 15px;
    margin: 5px;  
    text-align: center;
} 

.contact-image {
    height: 42vh;
    width: 64vh; 
} 

.info-section {
    text-align: center; 
    margin-left: 30px;
}

.contact-info-heading {
    padding: 15px;
    margin: 6px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: bold; 
}

.contact-info p {
    text-transform: capitalize;
    padding: 6px;
    margin: 3px;
} 

.contact-opening-heading {
    padding: 15px; 
    margin: 6px;
    text-align: left;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: bold;
}

.opening-hours {
    padding-right: 20px;
    padding-bottom: 6px;
}


/* -----Footer ------- */ 

.uppercase {
    text-align: center;
}

.copyright-footer {
    font-weight: bold;
    text-decoration: underline; 
    text-align: left;
} 

.interested-footer {
    font-weight: bold;
    text-align: left; 
} 

.interested-info {
    padding: 5px;
    margin: 2px;
}

.social-footer {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
} 

.social-links { 
    padding: 5px;
    background-color: rgb(31, 108, 222);
    color: #fafafa;
    height: 20px;
    weight: 20px;
    text-align: center; 
    line-height: 4px;
    border-radius: 50%; 
    margin: 2px;
}